<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" media="screen" href="/webjars/bootstrap/3.3.7/css/bootstrap.css"/>
</head>
<body>
<div th:fragment="table" th:remove="tag">
	<input id="addDepart" type="button" class="btn btn-success btn-space" th:value="#{app.table.departs.add}"
		   data-toggle="modal" data-target="#departDialog"/>
	<table class="table">
		<thead>
		<tr class="row">
			<th>#</th>
			<th th:text="#{app.table.header.column.name}">Name</th>
			<th th:text="#{app.table.header.column.tariff}">Tariff</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:replace="fragments/depart-row :: row" th:remove="tag"></tr>
		</tbody>
	</table>

	<!-- the dialog -->
	<div id="departDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="form">
			<div class="modal-content panel-body">
				<div id="departDialogForm"></div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		function pullDialogForm($row) {
			var depart = $row ? $row.data('depart') : null;
			$.ajax({
				url: 'app/departs/form',
				data: depart,
				success: function (response) {
					$('#departDialogForm').replaceWith(response);

					var $dialog = $('#departDialog');
					var $table = $('#departsTable');
//					bindFormSubmit($dialog, $table, $row);
				}
			});
		}

		function editUser(source) {
			var $row = source.parents('tr');
			pullDialogForm($row);
		}

		function removeUser(source) {
			var $row = source.parents('tr');
			var id = $row.data('user').id;
			$.ajax({
				url: "app/users/" + id,
				type: "delete"
			}).success(function () {
				$row.remove();
				calcTableIdx($('#usersTable'));
			});
		}

		$(document).ready(function () {
			$('#addDepart').click(function () {
				pullDialogForm();
			});

			$('#departDialog').on('hidden.bs.modal', function () {
				// remove the dialog content to prevent blinking while next show
				$(this).find('#departDialogForm').replaceWith('<div id="departDialogForm"></div>');
			});
		});
		/*]]>*/
	</script>
</div>
</body>
</html>